<a href="https://colab.research.google.com/github/Prathyu22/PYthon-/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Play with code - Jack and his three friends.(Page-46)
mileage = int(input())
amount_per_litre = int(input())
distance_one_way = int(input())
divisible_by_five = False

per_head_cost = (((distance_one_way * 2) / mileage) * amount_per_litre ) / 4

if(per_head_cost % 5 == 0):
  divisible_by_five = True
else:
  divisible_by_five = False

print(per_head_cost)
print(divisible_by_five)

12
40
190
316.6666666666667
False

In [ ]:
#vowel or not
x = input()
if x in "aeiouAEIOU":
  print("Vowel")
else:
  print("Not an vowel")

A
Vowel

In [ ]:
#count no. of vowels in the given string
vowels = ['a','e','i','o','u']
count = 0
t = input("Enter a string : ")

for i in vowels:
  count += t.lower().count(i)
  
print(count)

Enter a string : AEIOU
5

In [ ]:
#convert a binary number to decimal
n = input()
print(int(n,2))

0010
2

In [ ]:
#convert a decimal number to binary

def DecimalToBinary(a):
  if a>=1:
    DecimalToBinary(a // 2)
    print(a % 2, end="")
  
a = int(input())
DecimalToBinary(a)

17
10001

In [ ]:
#Concatenate the list of elements to a string
li = [1,2,3,4,5]
string = str(input())

for i in li:
  string += str(i)

print(string)

Hii
Hii12345

In [ ]:
#inputting a list
li = []
n = int(input())

for i in range(0,n):
  element = int(input())
  li.append(element)

print(li)

4
1
2
3
4
[1, 2, 3, 4]

In [ ]:
#inputting a set
'''The add() method doesn't add an element to the set 
if it's already present in it otherwise it will get added to the set.'''
s = set()
n = int(input())

for i in range(0,n):
  element = int(input())
  s.add(element)

print(s)

2
1
2
{1, 2}

In [ ]:
#inputting dictionary
d = {}

n = int(input())

d=dict(input().split() for x in range(n))
print(d)

2
1 Gym
2 FreshUp
{'1': 'Gym', '2': 'FreshUp'}

In [ ]:
#inputting tuple
# NOTE: Values seperated with commas are by default tuples.
t = input()
a = tuple(int(x) for x in t.split())
print(a)

2 3 4 5
(2, 3, 4, 5)

In [ ]:
# LCM of given numbers
def lcm(x,y):
  if x > y:
    greater = x
  else:
    greater = y

  while(True):
    if( (greater % x == 0) and (greater % y == 0)):
      lcm = greater
      break
    greater += 1
  
  return lcm

print(lcm(2,3))

6

In [ ]:
# Distance between 2 points
import math
p1 = [4,0]
p2 = [6,6]
d = math.sqrt( ((p1[0] - p2[0])**2) + ((p1[1] - p2[1])**2) )
print(d)

6.324555320336759

In [ ]:
# Checking for lower case letter in the given string
s = str(input("Enter a string: "))
print(any(c.islower() for c in s))

Enter a string: HII
False

In [ ]:
# Checking whether given elements are all distinct or not
''' here we can use "set" data type as set consists of only unique elements'''

def func(data):
  if len(data) == len(set(data)):
    return True
  else:
    return False

print(func([5,3,82,0.55,0]))

True

filter() & map() - 2 arguments
                 - 1. Functionality to be performed
                 - 2. Sequence of the arguments

In [ ]:
# filter() considers only true values
# map() considers both true and false values

def isEven(n):
  if n%2:
    return False
  else:
    return True

def square(n):
  return n*n

li = [1,2,3,4,5]
print(list(map(isEven,li)))
print(list(filter(square,li)))

[False, True, False, True, False]
[1, 2, 3, 4, 5]

In [ ]:
''' WAP to take names as input list and 
print the length of each name as a string. '''

print(list(map(len, input().split())))

Vamsi Prathyu Siri
[5, 7, 4]

In [ ]:
''' WAP to take a list of integer values and filter only prime numbers '''
def isPrime(n):
  for i in range(2, int(n**2)+2):
    if n%i == 0:
      return False
    else:
      return True

print(list(filter(isPrime, map(int, input().split()))))

1 2 3 4 5 6 7 8 9 10
[1, 3, 5, 7, 9]

TUPLES & MODULES

In [ ]:
#Types of arguments :
''' 1.Required arguments (Positional)
    2.Keyword args (Non-positional / Named args)
    3.Default args 
    4.Variable Length args '''

In [ ]:
'''
* We can have any no. of default arguments.
**** We cannot have any other args after the default argument. (a, b=10) --> That's it.
* The arg is assigned within the func. call and the args copy the values according to their names and hence called as Non-positional / Named / Keyword Arguments.
  Here in func. call and func. def, arg names must be same.
**** We cannot have any positional after non-positional args. (a=10, b='Hi', c) --> ERROR.
* Variable-length Argumenets / Arbitary arguments :
    ---> Always handled by the type "TUPLE".
    ---> We can have range from empty tuple to any no. of values in a tuple.
    ---> (*a,b) = ERROR. (Since 'b' must be mandatory keyword arg.)

In [ ]:
'''
func(a, b=90, *c, d, e=23)

Here, a,b are POSITIONAL ARGUMENTS
      ---> a = MANDATORY
      ---> b = OPTIONAL
    
      d,e are KEYWORD / NON-POSITIONAL ARGUMENTS
      ---> d = KEYWORD & MANDATORY
      ---> e = KEYWORD & OPTIONAL

      c = ARBITARY ARGUMENT.
'''

In [ ]:
#Default args

def func(a,b="5"):
  print(a)
  print(b)
  return
a = "Hello"
b = "World"
func(b)

World
5

In [ ]:
#required args
def func(a,b):
  print(a)
  print(b)
  return
a = "Hii"
b = 22
func(a,b)
print(end="\n")
func(b,a)

Hii
22

22
Hii

In [ ]:
#keyword args
def func(a,b):
  print(a)
  print(b)
  return
func(a="List:", b)

SyntaxError: ignored

In [ ]:
#keyword args
def func(a,b):
  print(a)
  print(b)
  return
func(a="List:", b=[1,2,3,4,5])

List:
[1, 2, 3, 4, 5]

In [ ]:
#variable length args
def func(a, *b):
  print(a)
  print(b)
  print(c)
  print(d)
  print(e)
  print(f)
  print(g)
  return

a = 123
b = 123.45
c = 'String'
d = [1,2,3,4,5]
e = {1,2,3,4,5}
f = {1:'Gym', 2:'FreshUp'}
g = (1,2,3,4,5)

func(a,b)

123
(123.45,)
String
[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}
{1: 'Gym', 2: 'FreshUp'}
(1, 2, 3, 4, 5)